# Ignore everything
*

# Do not ignore .gitignore file itself
!.gitignore

# Do not ignore wp-content directory
!wp-content/

# Ignore everything in wp-content directory
wp-content/*

# Do not ignore themes, plugins, and uploads directories
!wp-content/themes/
!wp-content/plugins/
!wp-content/uploads/

# Ignore everything in themes directory
wp-content/themes/*

# Do not ignore specific theme directory
!wp-content/themes/Impreza/
!wp-content/themes/Impreza/**
!wp-content/themes/Impreza-child/
!wp-content/themes/Impreza-child/**

# Do not ignore files in plugins directory
!wp-content/plugins/**

# Do not ignore files in uploads directory
!wp-content/uploads/**
